.award-box {
  width: 100%;
  display: grid;
  place-items: center;
  padding: get-vw(30px, 43px) 20px;
  background: rgba(255, 243, 249, 0.7);
  border-radius: 0 get-vw(30px, 60px) 0 get-vw(30px, 60px);
}
.award-wrap {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    row-gap: 30px;
    @include breakpoint(max, 1200) {
      margin: 0 -15px;
    }
    li {
      width: 25%;
      padding: 0 20px;
      @include breakpoint(max, 1200) {
        padding: 0 15px;
      }
      @include breakpoint(max, 991) {
        width: 50%;
      }
      @include breakpoint(max, 680) {
        width: 100%;
      }
      &:nth-child(even) {
        .award-box {
          background: rgba(242, 247, 255, 0.7);
        }
      }
    }
  }
}
